.header {
   position: fixed;
   width: 100%;
   z-index: 50;
   top: 0;
   left: 0;
   &__inner {
   }
   // ====================================
}
// ПЛАШКА=========================
.header.active {
   background: rgba(0, 0, 0, 0.45);
   backdrop-filter: blur(16px);
   border: 1px solid rgba(255, 255, 255, 0.18);
}

// БУРГЕР=============================
.burger {
   display: none;
   position: absolute;
   right: 20px;
   top: 20px;
   width: 28px;
   height: 23px;
   & span {
      position: absolute;
      background-color: #e8c300;
      left: 0px;
      width: 100%;
      height: 3px;
      top: 10px;
   }
   &::before,
   &::after{
       content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #e8c300;
   }
   &::before {
      top: 0;
   }
   &::after {
      bottom: 0;
   }
   @media (orientation: portrait) and (max-width: 768px) {
      display: block;
      z-index: 40;
   }
   @media (orientation: landscape) and (max-height: 768px) {
      display: block;
      z-index: 40;
   }
}
.burger.active span {
   transform: scale(0);
}
.burger.active::before {
   transform: rotate(45deg);
   top: 50%;
   transition: 0.3s linear;
}
.burger.active::after {
   transform: rotate(-45deg);
   top: 50%;
   transition: 0.3s linear;
}
// ===============================

.menu {
   font-size: 12px;
   font-weight: 700;
   line-height: 18px;
   text-align: center;
   display: flex;
   justify-content: space-around;
   height: 100px;
   transition: 0.3s ease;
   &__inner {
      display: flex;
      flex: 1 1 40%;
      justify-content: space-around;
      align-items: center;
      @media (orientation: portrait) and (max-width: 768px) {
         flex-direction: column;
         justify-content: space-around;
      }
      @media (orientation: landscape) and (max-height: 768px) {
         flex-direction: column;
         justify-content: space-around;
      }
   }

   &__item {
   }

   &__link {
   }
   @media (orientation: portrait) and (max-width: 768px) {
      flex-direction: column;
      position: absolute;
      padding: 0 10%;
      right: -100%;
      top: 0;
      height: 100vh;
      backdrop-filter: blur(18px) saturate(200%);
      -webkit-backdrop-filter: blur(18px) saturate(200%);
      background-color: rgba(17, 25, 40, 0.74);
      border: 1px solid rgba(255, 255, 255, 0.125);
      font-size: 30px;
      line-height: 35px;
   }
   @media (orientation: landscape) and (max-height: 768px) {
      flex-direction: column;
      position: absolute;
      padding: 0 10%;
      right: -100%;
      top: 0;
      backdrop-filter: blur(18px) saturate(200%);
      -webkit-backdrop-filter: blur(18px) saturate(200%);
      background-color: rgba(17, 25, 40, 0.74);
      border: 1px solid rgba(255, 255, 255, 0.125);
      height: 100vh;
      font-size: 30px;
      line-height: 35px;
   }
}
.menu-left {
}

.menu-icon {
   flex: 0 5 150px;
   &__img {
      position: relative;
      width: 100%;
      top: 25px;
   }
   @media (orientation: portrait) and (max-width: 768px) {
      display: none;
   }
   @media (orientation: landscape) and (max-height: 768px) {
      display: none;
   }
}
.menu-icon__img.deactive {
   visibility: hidden;
}
.menu.active {
   right: 0;
}
