.header {
   position: fixed;
   width: 100%;
   z-index: 50;
   top: 0;
   left: 0;
   &__inner {
   }
   // ПЛАШКА=========================
   &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: -1;
   }
   // ====================================
}

// БУРГЕР=============================
.burger {
   display: none;
   & span {
      position: absolute;
      background-color: #c8a35f;
      left: 0px;
      width: 100%;
      height: 3px;
      top: 14px;
   }
}
.burger.active span {
   transform: scale(0);
}
.burger.active::before {
   transform: rotate(45deg);
   top: 50%;
}
.burger.active::after {
   transform: rotate(-45deg);
   top: 50%;
}
// ===============================

.menu {
   font-size: 12px;
   font-weight: 700;
   line-height: 18px;
   text-align: center;
   display: flex;
   justify-content: space-around;
   height: 100px;
   &__inner {
      display: flex;
      flex: 1 1 40%;
      justify-content: space-around;
      align-items: center;
   }

   &__item {
   }

   &__link {
   }
}
.menu-left {
}

.menu-icon {
   flex: 0 5 150px;
   &__img {
      position: relative;
      width: 100%;
      top: 25px;
   }
}
