@font-face {
   font-family: "OpenSans";
   src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Banny";
   src: url("../fonts/Banny-BoldRound.woff2") format("woff2"), url("../fonts/Banny-BoldRound.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Banny";
   src: url("../fonts/Banny-Round.woff2") format("woff2"), url("../fonts/Banny-Round.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}
@import "nullstyle.scss";
// ДЛЯ БУРГЕРА
body.lock {
   @media (max-width: 767px),(max-height: 767px) {
      overflow: hidden;
   }
}
// =================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}

// КОНТЕЙНЕР
.container {
   max-width: 1130px;
   padding: 0px 10px;
   margin: 0 auto;
}
// ==================================
// ОБОЛОЧКА ДЛЯ СОЗДАНИЯ ФУЛСКРИНА
.page {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   font-size: 0px;
   flex-direction: column;
}
// ==================================
// ШАПКА
@import "header.scss";
// =================================
// ФУЛЛСКРИНОВЫЙ ЭКРАН
.main-screen {
   flex: 1 0 100%;
   position: relative;
   overflow: hidden;
   &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      
   }
}
.main__inner{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}


// =================================
// ВСЕ ОСТАЛЬНЫЕ СТРАНИЦЫ КРОМЕ ФУЛЛСКРИНА
// НЕ ЗАБУДЬ ЧТО ШРИФТ ПО УМОЛЧАНИЮ 0 В PAGE

// FOOTER=============================
@import "footer.scss";
// =================================