@font-face {
   font-family: "OpenSans";
   src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Banny";
   src: url("../fonts/Banny-BoldRound.woff2") format("woff2"), url("../fonts/Banny-BoldRound.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Banny";
   src: url("../fonts/Banny-Round.woff2") format("woff2"), url("../fonts/Banny-Round.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}
@import "nullstyle.scss";
body {
   font-family: "OpenSans";
   font-weight: 700;
}
// ДЛЯ БУРГЕРА
body.lock {
   @media (max-width: 767px), (max-height: 767px) {
      overflow: hidden;
   }
}
::-webkit-scrollbar {
   width: 0px;
   background: transparent;
}
// =================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}

// КОНТЕЙНЕР
.container {
   max-width: 1300px;
   padding: 0px 10px;
   margin: 0 auto;
}
// ==================================
// ОБОЛОЧКА ДЛЯ СОЗДАНИЯ ФУЛСКРИНА
.page {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
}
// ==================================
// ШАПКА
@import "header.scss";
// =================================
// ФУЛЛСКРИНОВЫЙ ЭКРАН
.main-screen {
   flex: 1 0 100%;
   position: relative;
   overflow: hidden;
   &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
}

.main {
   &__filter {
      position: absolute;
      @extend %flex-cen;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
   }
   &__inner {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 1300px;
      padding: 0px 10px;
      margin: 0 auto;
      @media (orientation: portrait) and (max-width: 410px) {
         display: block;
      }
   }
   &__column {
   }

   &__arrow {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   .arrow {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.5);
      @extend %flex-cen;
      &__bg {
         width: 70%;
         height: 70%;
         background-color: #fff;
         border-radius: 50%;
         @extend %flex-cen;
      }
      @media (orientation: portrait) and (max-width: 600px) {
         width: 40px;
         height: 40px;
      }
      @media (orientation: landscape) and (max-height: 600px) {
         width: 40px;
         height: 40px;
      }
      @media (orientation: portrait) and (max-width: 480px) {
         display: none;
      }
      @media (orientation: landscape) and (max-height: 480px) {
         display: none;
      }
   }
   .arrow-down {
      width: 50%;
      height: 50%;
      animation-name: arrow-main;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate-reverse;
      animation-fill-mode: forwards;
   }
}
@keyframes arrow-main {
   0% {
      transform: translateY(40%);
   }
   100% {
      transform: translateY(0);
   }
}
.main-null {
   flex: 0 0 15%;
   height: 100%;
}
.main-center {
   flex: 0 1 70%;
   font-size: 12px;
   &__inner {
   }

   &__over-title {
      line-height: 14px;
      letter-spacing: 0.5em;
      text-align: center;
      margin-bottom: 30px;
   }

   &__title {
      font-family: "Banny";
      font-size: 96px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      &::after {
         content: "";
         background-color: #e8c300;
         display: block;
         width: 60px;
         height: 5px;
         border-radius: 4px;
         margin: 35px auto 0 auto;
         @media (orientation: landscape) and (max-height: 400px) {
            margin: 25px auto 0 auto;
         }
      }
      @media (orientation: portrait) and (max-width: 600px) {
         font-size: 64px;
      }
      @media (orientation: landscape) and (max-height: 600px) {
         font-size: 64px;
      }
      @media (orientation: landscape) and (max-height: 400px) {
         font-size: 43px;
      }
   }

   &__btn-row {
      display: flex;
      justify-content: center;
      margin-top: 31px;
      @media (orientation: portrait) and (max-width: 710px) {
         flex-direction: column;
         align-items: center;
      }
      @media (orientation: landscape) and (max-height: 600px) {
         flex-direction: column;
         align-items: center;
      }
   }

   &__btn-item {
      margin: 0 20px;
      width: 200px;
      height: 60px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      background-color: transparent;
      transition: 0.3s linear;
      @media (orientation: portrait) and (max-width: 710px) {
         width: 160px;
         height: 50px;
         margin-bottom: 10px;
      }
      @media (orientation: landscape) and (max-height: 710px) {
         width: 160px;
         height: 50px;
         margin-bottom: 10px;
      }
   }

   &__btn-link {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 5;
      @media (orientation: portrait) and (max-width: 710px) {
         line-height: 4;
      }
      @media (orientation: landscape) and (max-height: 710px) {
         line-height: 4;
      }
   }
   &__btn-item:hover,
   &__btn-item.active {
      background-color: #e8c300;
   }
}
.social-media {
   flex: 0 0 15%;
   &__inner {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media (orientation: portrait) and (max-width: 410px) {
         flex-direction: row;
         justify-content: flex-end;
         position: absolute;
         bottom: 20px;
         right: 20px;
      }
   }

   &__item {
      display: block;
      margin-top: 20px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid #fff;
      position: relative;
      opacity: 0.5;
      transition: 0.3s linear;
      img {
         display: block;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
      @media (orientation: portrait) and (max-width: 600px) {
         width: 40px;
         height: 40px;
      }
      @media (orientation: landscape) and (max-height: 600px) {
         width: 40px;
         height: 40px;
      }
      @media (orientation: portrait) and (max-width: 410px) {
         margin-left: 10px;
      }
   }
   &__item:hover,
   &__item.active {
      opacity: 1;
      background-color: #e8c300;
   }
}
.social-media__item:first-child {
   margin-top: 0;
}
// =================================
// ВСЕ ОСТАЛЬНЫЕ СТРАНИЦЫ КРОМЕ ФУЛЛСКРИНА
// НЕ ЗАБУДЬ ЧТО ШРИФТ ПО УМОЛЧАНИЮ 0 В PAGE

.general {
   padding: 100px 0;
   @media (max-width: 1000px) {
      padding: 30px 0;
   }
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 475px;
      @media (max-width: 1110px) {
         align-items: center;
         height: auto;
      }
      @media (max-width: 600px) {
         display: block;
      }
   }
}

// ABOUT US ==================================

.about,
.reservation,
.product {
   color: #000;
   // .about__inner
}
.text-inner {
   width: 50%;
   @media (max-width: 1000px) {
      padding: 0;
   }
   @media (max-width: 600px) {
      width: 100%;
   }
}
.title {
   font-family: "Banny";
   text-transform: uppercase;
   font-size: 36px;
   line-height: 48px;
   text-align: center;
   margin-bottom: 20px;
   &::after {
      content: "";
      background-color: #e8c300;
      display: block;
      width: 60px;
      height: 5px;
      border-radius: 4px;
      margin: 27px auto 0 auto;
      @media (max-width: 767px) {
         margin: 20px auto 0 auto;
      }
      @media (orientation: landscape) and (max-height: 400px) {
         margin: 20px auto 0 auto;
      }
   }
   @media (max-width: 767px) {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 10px;
   }
}
.subtitle {
   margin-bottom: 29px;
   font-size: 16px;
   line-height: 28px;
   text-align: center;
   @media (max-width: 767px) {
      margin-bottom: 19px;
      font-size: 14px;
      line-height: 22px;
   }
}
.description {
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   @media (max-width: 767px) {
      margin-bottom: 19px;
      font-size: 12px;
      line-height: 16px;
      text-align: justify;
   }
}
.about,
.reservation {
   // .aboot__image

   &__image {
      padding-left: 42px;
      @media (max-width: 1110px) {
         padding-right: 40px;
      }
   }
}
.image {
   width: 50%;

   @media (max-width: 600px) {
      width: 80%;
      margin: 0 auto;
   }
   // .image__photo-inner

   &__photo-inner {
      position: relative;
      height: 100%;
      @media (max-width: 1110px) {
         max-width: 475px;
         height: inherit;
      }
   }

   // .image__photo

   &__photo {
      height: 100%;
      @media (max-width: 1110px) {
         width: 100%;
      }
   }

   // .image__decorate

   &__decorate {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 275px;
      height: 275px;
      border: 20px solid #e8c300;
      @media (max-width: 1110px) {
         right: -10%;
         width: 50%;
         height: 50%;
         border: 10px solid #e8c300;
      }
   }
}

// CHEF===============================

.chef {
   position: relative;
   color: #fff;
   padding: 100px 0;
   @media (max-width: 1000px) {
      padding: 30px 0;
   }
   // .chef__inner

   &__inner {
   }

   // .chef__image

   &__image {
      padding-right: 42px;
      @media (max-width: 1110px) {
         padding-left: 40px;
      }
   }

   // .chef__text

   &__text {
   }
}

.chef-screen {
   // .chef-screen__bg

   &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
   }
}
.image-left {
   display: block;
   margin-left: auto;
}
.decorate-left {
   left: 0;
   @media (max-width: 1110px) {
      left: -10%;
   }
}
.filter-bg {
   background: rgba(0, 0, 0, 0.2);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
// RESERVATION===========================

.reservation {
   &__inner-form {
   }
}
.title {
}
.form {
   &__inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: -5px;
   }

   &__item {
      margin: 5px;
   }

   &__input {
      background-color: #e5e5e5;
      padding: 16px 22px;
      width: 222px;
   }

   &__button {
      background-color: #e8c300;
      width: 100%;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      padding: 23px 0;
      border-radius: 8px;
      margin-top: 13px;
   }
}

$height: 46px;

.select {
   position: relative;
   z-index: 49;
   &.open {
      .select__drop-down {
         display: block;
      }
      .select__backdrop {
         display: block;
      }
   }
   // .select__input

   &__input {
      height: $height;
      background-color: #e5e5e5;
      padding: 16px 22px;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: space-between;
      width: 222px;
   }

   &__input span {
      display: block;
   }

   // .select__drop-down

   &__drop-down {
      display: none;
      background-color: #e5e5e5;
      position: absolute;
      top: $height;
      left: 0;
      right: 0;
      max-height: 200px;
      overflow-y: auto;
      border: 1px solid #000;
   }
   // .select__list

   &__list {
      padding: 0;
      margin: 0;
      list-style: none;
   }

   // .select__item
   &__backdrop {
      position: fixed;
      display: none;
      z-index: -1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: transparent;
   }

   &__item {
      padding: 16px 22px;
      border-bottom: 1px solid #000;

      &:hover {
         background-color: #e8c300;
         cursor: pointer;
         transition: 0.15s background-color ease-in;
      }
      &.selected {
         background-color: #e8c300;
      }
   }
}
.select__arow {
   width: 20px;
   height: 20px;
}
.select__arow.up {
   transform: rotate(180deg);
}

// SWIPER===============================

@import "swiper.scss";

.swiper-slide {
   .chef__inner {
      margin-bottom: 20px;
   }
}

// PRODUCT================================

.product {
   // .product__inner

   &__inner {
   }

   // .product__name-box

   &__name-box {
      margin-bottom: 51px;
   }

   // .product__name-list

   &__name-list {
      display: flex;
      justify-content: center;
   }

   // .product__name-item

   &__name-item {
      padding: 22px 43px;
   }

   // .product__price-box

   &__price-box {
   }

   // .product__price-list

   &__price-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }

   // .product__price-item

   &__price-item {
   }
}
.product__name-item + .product__name-item {
   border-left: 1px solid rgba(51, 51, 51, 0.2);
}

.card-product {
   // .card-product__box

   &__box {
      font-family: "Banny";
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      width: 363px;
      height: 66px;
      display: flex;
      justify-content: center;
   }

   // .card-product__name

   &__name {
      width: 259px;
   }
   &__name span {
      display: block;
      font-family: "OpenSans";
      font-size: 12px;
      line-height: 18px;
      text-align: left;
      color: rgba(51, 51, 51, 0.3);
   }

   // .card-product__price

   &__price {
   }
}

// FOOTER=============================
@import "footer.scss";
// =================================
